body{

    margin:auto;
    margin-top: 2vh;
    
    border:0.1px dashed white;
    width:95vw;
    height:95vh;
 
 

}

.menucontainer{

   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   position:fixed;
   width:95vw;
   height:20vh;
   background-color: beige;

}

.titlecontainer{
    position:fixed;
    width:95vw;
    height:15vh;
    text-align: center;
    font-size: 1.5em;
    background-color:white;
}
.title{
  padding-top: 5vh;
}
.menu{
    margin:auto;
    text-align: center;
}

.maincontainer{
    margin:auto;
    margin-top:20vh;
    /* border:1px dotted black; */
    width:93vw;
    height:53vh;
    /* padding-top: 15vh; */
    display:grid;
    grid-template-columns:1fr 1fr 1fr;    
    overflow:hidden;
    /* border: lightgray dashed 0.5px; */

}
.name{
cursor:pointer;
font-size: 0.8em;
padding-left: 3vw;
height:3vh;
/* border:1px solid black;  
background-color: lightgreen; */
}

.letter{
width:5vw;

}

/* .divide{
/* grid-column: 1/4; */
border-top: 0.5px dashed grey;
height:1vh;
width:25vw;
} */

.letterbar{
display: grid;
width:95vw;
grid-template-columns: repeat(17, 1fr);
position:fixed;
padding-top: 20vh;

} 

.bar{
    /* background-color: pink; */
    border-bottom: 1px solid black;
}

.ending{
margin-top: 10vh;
border:1px dotted lightgray;
border-top:0px;
    height:10vh;

    display: grid;
    

}
.end1{
padding-top:5vh;
    font-size:0.8em;
    color:grey;
}

.list1{
/* display: grid;
grid-template-columns: 1fr 4fr; */
width:28vw;
height:50vh;
overflow: scroll;
margin-left: 1vw;
background-color: lightpink;
}

.list2{
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
    width:28vw;
    height:50vh;
    overflow: scroll;
    margin-left: 1vw;
    background-color: lightyellow;
    }
.name:hover{
    /* text-emphasis: filled double-circle blue;
-webkit-text-emphasis: filled double-circle blue; */
/* text-emphasis: '>';
-webkit-text-emphasis: '>'; */
    /* color:blue; */
    background-color:white;
}

.list3{
    width:30vw;
    margin-left: 2vw;
    height:50vh;
overflow: scroll;
background-color: mediumaquamarine;
}